<!--Início do conteúdo da Grid-->
<h3>
  Empresas
  <div class="pull-right">
    <a href="./#/empresa/cadastrar" class="btn btn-info">Cadastrar</a>
  </div>
</h3>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-12">
    <div class="panel panel-blue">
       <div class="panel-heading">
          <h1 class="panel-title">
            Listagem de Empresas
            <div class="pull-right">
              <a href="rest/empresa/imprimirRelatorio" title="Gerar relatório" target="_blank">
                <em class="icon-printer"></em>             
              </a>
            </div>
          </h1>
       </div>
       <div class="panel-body">
          <div class="row">
            <div class="col-md-6 form-group">
              <input class="form-control" ng-model="busca" type="search" placeholder="Buscar" ng-change="buscar()">
            </div>        
          </div><!--/row-->
          <div class="row">
            <div class="col-md-12 ">
              <div class="table-responsive" ng-show="empresas">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <!--<th><a>Telefone</a></th>-->           
                      <th width="150px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="empresa in empresas">
                      <td>{{empresa.fantasia}}</td>
                      <!--<td>{{empresa.telefones[0].numero}}</td>-->
                      <td >
                        <div class="pull-right">
                          <a href="#/empresa/visualizar/{{empresa.id}}" class="btn btn-sm btn-info">
                            <i class="fa fa-eye"></i>
                          </a>
                          <a href="./#/empresa/editar/{{empresa.id}}" class="btn btn-sm btn-warning">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a ng-click="removerEmpresa(empresa)"class="btn btn-sm btn-danger">
                            <i class="fa fa-times"></i>
                          </a>  
                        </div>                        
                      </td>
                    </tr>
                  </tbody>                
                </table>
              </div><!--/responsive-table-->
            </div>    
          </div><!--/row-->
       </div>
       <div class="panel-footer" ng-show="empresas">
         <div class="row">
           <div class="col-md-12">
             <fe-paginator page="page" load="load(pagina)">
             </fe-paginator>
           </div>
         </div>
       </div>
    </div>    
  </div>
</div><!--/row--> 
<!--Fim do conteúdo da Grid-->
