<!--Início do conteúdo da Grid-->
<h3>
  Perfis de Acesso
  <div class="pull-right">
    <a href="./#/acesso/perfildeacesso/cadastrar" class="btn btn-info">Cadastrar</a>
  </div>
</h3>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-12s">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-blue">
           <div class="panel-heading">
              <h1 class="panel-title">
                Listagem de Perfis de Acesso
                <!-- <div class="pull-right">
                  <a href="#" title="Gerar relatório">               
                    <em class="icon-printer"></em>             
                  </a>
                </div> -->
              </h1>
           </div>
           <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <input class="form-control" ng-model="app.busca" type="search" placeholder="Buscar">
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Perfil</th>
                      <th width="150px"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="perfilDeAcesso in perfisDeAcesso | filter:app.busca">
                      <td>{{perfilDeAcesso.nome}}</td>
                      <td>
                        <div class="pull-right">
                          <a href="#/acesso/perfildeacesso/visualizar/{{perfilDeAcesso.id}}" class="btn btn-sm btn-info">
                            <i class="fa fa-eye"></i>
                          </a>
                          <a href="./#/acesso/perfildeacesso/editar/{{perfilDeAcesso.id}}" class="btn btn-sm btn-warning">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a ng-click="removerPerfilDeAcesso(perfilDeAcesso)"class="btn btn-sm btn-danger">
                            <i class="fa fa-times"></i>
                          </a>
                        </div>                        
                      </td>
                    </tr>
                  </tbody>                
                </table>
              </div><!--/responsive-table-->
           </div>
           <div class="panel-footer">
             <div class="row">
               <div class="col-md-12">
                 <fe-paginator page="page" load="load(pagina)">
                 </fe-paginator>
               </div>
             </div>
           </div>
        </div>        
      </div>    
    </div><!--/row-->   
  </div>
</div><!--/row--> 
<!--Fim do conteúdo da Grid-->

