
<h3>
	Cadastro de Contrato <small><p class="text-muted">
			<strong class=" form-obrigatorio">*</strong> Campos de preenchimento
			obrigatório
		</p></small>
</h3>
<div id="viewForm" class="row">
	<div class="row" id="rowForm">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<form name="formContrato" role="form">
				<div class="panel panel-info panel-form">

					<div class="panel-heading panel-form-pessoais">
						<h1 class="panel-title">Contrato</h1>
					</div>
					<!--/div panel-->
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-5 col-md-5">
								<div class="form-group">
									<label for="localizar" class="control-label"> Turma <strong
										class="text-danger form-obrigatorio">*</strong>
									</label> <input ng-model="filtro.turma" ng-disabled="visualizar"
										typeahead="turma as turma.nome for turma in getTurmas($viewValue) | filter:{nome:$viewValue}"
										typeahead-loading="loadingTurmas" class="form-control"
										ng-required="true"> <i ng-show="loadingTurmas"
										class="glyphicon glyphicon-refresh"></i>
								</div>
							</div>
							<!--localizar -->

							<div class="col-md-7 col-lg-7">
								<div class="form-group">
									<label for="localizar" class="control-label"> Aluno <strong
										class="text-danger form-obrigatorio">*</strong>
									</label> <input ng-model="contrato.aluno" ng-disabled="visualizar"
										typeahead="aluno as aluno.candidato.nome for aluno in getAlunos($viewValue) | filter:{nome:$viewValue}"
										typeahead-loading="loadingAlunos" class="form-control"
										ng-required="true" ng-change="atualizaCampos()"> <i
										ng-show="loadingAlunos" class="glyphicon glyphicon-refresh"></i>
								</div>
							</div>
						</div>

						<div class="row">
				            	<div class="col-md-6 form-group {{(formContrato.rendaPerCapitaInput.$invalid&&!formContrato.rendaPerCapitaInput.$pristine)&&'has-error'||(!formContrato.rendaPerCapitaInput.$pristine&&'has-success'||'')}}">
					              <label for="valorBeneficioGovernamental" class="control-label">Sal&aacute;rio R$ <strong class="text-danger form-obrigatorio">*</strong></label>
					              <input ng-model="contrato.salario" type="number" min="1" step="0.10" class="form-control" id="valorBeneficioGovernamental" placeholder="Ex: 800,00" name='rendaPerCapitaInput' ng-required='candidatoSimplificado.dadosSocioEconomicos.auxilioGovernamental' ng-disabled="visualizar">
					              <div class="help-error bg-danger error">
					                <p ng-show="formContrato.rendaPerCapitaInput.$error.number" >Este campo <strong>s&oacute;</strong> aceita <strong>n&uacute;meros</strong></p>
					                <p ng-show="formContrato.rendaPerCapitaInput.$error.required&&!formContrato.rendaPerCapitaInput.$pristine" >Este campo &eacute; obrigat&oacute;rio.</p>
					                <p ng-show="formContrato.rendaPerCapitaInput.$error.min&&!formContrato.rendaPerCapitaInput.$pristine" >O valor deve ser maior que 0.</p>
					              </div> 
					            </div>

							<div class="col-md-3 col-lg-3 col-sm-3">
								<div
									class="form-group {{(formContrato.datePrevistaInicio.$invalid&&!formContrato.datePrevistaInicio.$pristine)&&'has-error'
                                         ||(!formContrato.datePrevistaInicio.$pristine&&'has-success'||'')}}">
									<label for="dataInicio" class="control-label"> Início
										<strong class="text-danger form-obrigatorio">*</strong>
									</label> <input id="dataInicio"
										style="background: white; cursor: pointer;"
										readonly="readonly" type="text" name="datePrevistaInicio"
										datepicker-popup="dd/MM/yyyy" ng-model="contrato.dataInicio"
										ng-disabled="visualizar" is-open="datePicker.opened[0]"
										ng-click="datePicker.opened[0] = true"
										datepicker-options="datePicker.config"
										date-disabled="disabled(date, mode)" ng-required="true"
										close-text="Fechar" current-text="Hoje" clear-text="Limpar"
										placeholder="__/__/__" class="form-control" />
								</div>
								<div class="help-error bg-danger">
									<p
										ng-show="modalConfig.dataInicioInput.$error.required&&!modalConfig.dataInicioInput.$pristine"
										class=" text-danger">
										O campo <strong>Data Prevista Início</strong> é
										obrigatório.
									</p>
								</div>
							</div>

							<div class="col-md-3 col-lg-3 col-sm-3">
								<div
									class="form-group {{(formContrato.datePrevistaEncerramento.$invalid&&!formContrato.datePrevistaEncerramento.$pristine)&&'has-error'
                                         ||(!formContrato.datePrevistaEncerramento.$pristine&&'has-success'||'')}}">
									<label for="dataEncerramento" class="control-label">
										Encerramento <strong class="text-danger form-obrigatorio">*</strong>
									</label> <input id="dataEncerramento"
										style="background: white; cursor: pointer;"
										readonly="readonly" type="text"
										name="datePrevistaEncerramento" datepicker-popup="dd/MM/yyyy"
										ng-model="contrato.dataTermino" ng-disabled="visualizar"
										is-open="datePicker.opened[1]"
										ng-click="datePicker.opened[1] = true"
										datepicker-options="datePicker.config"
										date-disabled="disabled(date, mode)" ng-required="true"
										close-text="Fechar" current-text="Hoje" clear-text="Limpar"
										placeholder="__/__/__" min-date="contrato.dataInicio"
										class="form-control" />
								</div>
								<div class="help-error bg-danger">
									<p
										ng-show="modalConfig.dataPrevistaEncerramentoInput.$error.required&&!modalConfig.dataPrevistaEncerramentoInput.$pristine"
										class=" text-danger">
										O campo <strong>Data Prevista Início</strong> é
										obrigatório.
									</p>
								</div>
							</div>
						</div>
						<!--row-->
					</div>
				</div>
			</form>
			<div class="row  pull-right">
				<div class="col-md-12">
					<a href="./#/programaaprendizagem/contrato" class="btn btn-info">
						Voltar </a>
					<!-- <fe-resetform re-origem="objetoOrigem" re-reset="turma" re-form="formContrato"></fe-resetform> -->
					<button ng-click="salvarContrato(contrato)" class="btn btn-success"
						ng-disabled="formContrato.$invalid" ng-if="!visualizar">
						Salvar</button>
				</div>
			</div>
			<!-- /div Botões -->
			<br> <br> <br>
		</div>
		<!-- /col-md-12 -->
	</div>
	<!-- /rowForm -->
</div>
<!--/view form -->
<!--Fim do conteúdo do Form-->