<!--Início do conteúdo do Form-->
<h3>
  Cadastro de Instituição de Ensino 
  <small><p class="text-muted"><strong class="text-danger form-obrigatorio">*</strong> Campos de preenchimento obrigatório</p></small>
</h3>
<div id="viewForm" class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <form name="formInstituicaoEnsino">
      <div class="panel panel-blue panel-form">
        <div class="panel-heading panel-form-pessoais"> <h1 class="panel-title">Dados da institui&ccedil;&atilde;o</h1></div>
        	<div class="panel-body">
		      <div class="row">
		        <div class="col-md-12 form-group {{(formInstituicaoEnsino.nomeInput.$invalid&&!formInstituicaoEnsino.nomeInput.$pristine)&&'has-error'||(!formInstituicaoEnsino.nomeInput.$pristine&&'has-success'||'')}}">
		          <label class="control-label">Nome da Instituição de Ensino <strong class="text-danger form-obrigatorio">*</strong></label>
		          <input ng-model="instituicao.nome" type="text" name="nomeInput" class="form-control" placeholder="Ex: Colégio Palmares" ng-minlength="2" ng-maxlength="72" ng-required="instituicao.nome" ng-disabled="visualizar">
		          <div class="help-error bg-danger">
		            <p ng-show="formInstituicaoEnsino.nomeInput.$error.required&&!formInstituicaoEnsino.nomeInput.$pristine">O campo <strong>Nome da Instituição de Ensino</strong> é obrigatório.</p>
		            <p ng-show="formInstituicaoEnsino.nomeInput.$error.minlength" >O <strong>Nome da Instituição de Ensino</strong> informado deve ter mais de 2 caracteres.</p>
		            <p ng-show="formInstituicaoEnsino.nomeInput.$error.maxlength" >O <strong>Nome da Instituição de Ensino</strong> informado deve ter menos que 72 caracteres.</p>
		          </div> 
		        </div>
		      </div><!--/row--> 
      	</div>
      </div>
   	  <div class="panel panel-teal panel-form">
	      <div class="panel-heading panel-form-telefones">
	          <h1 class="panel-title">Telefones&nbsp;<strong class="text-muted form-obrigatorio">*</strong></h1>
	       </div>
	       <div class="panel-body">
	         <fe-telefones telefones="instituicao.telefones" visualizar='visualizar'>
	         </fe-telefones>
	       </div>
       </div>
       <div class="panel panel-deep-purple panel-form">
	       <div class="panel-heading panel-form-enderecos">
	          <h1 class="panel-title">Endere&ccedil;os&nbsp;<strong class="text-muted form-obrigatorio">*</strong></h1>
	       </div>
	       <div class="panel-body">
	         <fe-enderecos enderecos="instituicao.enderecos" visualizar='visualizar'>
	         </fe-enderecos>
	       </div>
       </div>
      <div class="row pull-right">
        <div class="col-md-12">
          <a href="./#/instituicaoensino" class="btn btn-info">
            Voltar
          </a>
          <fe-resetform re-origem="objetoOrigem" re-reset="instituicao" re-form="formInstituicaoEnsino"></fe-resetform>
          <button ng-click="salvarInstituicaoEnsino(instituicao)" ng-disabled="formInstituicaoEnsino.$invalid || instituicao.telefones.length==0 || instituicao.enderecos.length==0" type="button" class="btn btn-success" ng-if="!visualizar">
            Salvar
          </button>         
        </div>
      </div><!--/row-->
    </form> 
  </div>
</div><!--/row-->
<!--Fim do conteúdo do Form-->
