<h3>Dropdown Animations
   <small>Extends the dropdown effects when open just adding an animation class</small>
</h3>
<!-- START row-->
<div class="row">
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">bounce <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounce">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">flash <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated flash">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">pulse <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated pulse">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">rubberBand <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rubberBand">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">shake <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated shake">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">swing <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated swing">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">tada <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated tada">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">wobble <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated wobble">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">bounceIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounceIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">bounceInDown <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounceInDown">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">bounceInLeft <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounceInLeft">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">bounceInRight <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounceInRight">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">bounceInUp <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated bounceInUp">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">fadeIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">fadeInDown <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInDown">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">fadeInDownBig <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInDownBig">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">fadeInLeft <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInLeft">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">fadeInLeftBig <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInLeftBig">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">fadeInRight <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInRight">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">fadeInRightBig <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInRightBig">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">fadeInUp <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInUp">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">fadeInUpBig <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated fadeInUpBig">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">flip <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated flip">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">flipInX <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated flipInX">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">flipInY <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated flipInY">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">lightSpeedIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated lightSpeedIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">rotateIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rotateIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">rotateInDownLeft <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rotateInDownLeft">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">rotateInDownRight <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rotateInDownRight">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">rotateInUpLeft <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rotateInUpLeft">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">rotateInUpRight <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rotateInUpRight">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">hinge <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated hinge">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">rollIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated rollIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">zoomIn <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated zoomIn">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">zoomInDown <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated zoomInDown">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">zoomInLeft <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated zoomInLeft">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">zoomInRight <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated zoomInRight">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
   <div class="col-md-3">
      <!-- START box placeholder-->
      <div class="box-placeholder">
         <!-- START button group-->
         <div dropdown="dropdown" class="btn-group">
            <button class="btn btn-default dropdown-toggle">zoomInUp <b class="caret"></b>
            </button>
            <ul role="menu" class="dropdown-menu animated zoomInUp">
               <li><a href="#">Action</a>
               </li>
               <li><a href="#">Another action</a>
               </li>
               <li><a href="#">Something else here</a>
               </li>
               <li><a href="#">Separated link</a>
               </li>
            </ul>
         </div>
         <!-- END button group-->
      </div>
      <!-- END box placeholder-->
   </div>
</div>
<!-- END row-->
<br/>
<br/>
<br/>
<br/>
<br/>