<!--Início do conteúdo da Grid-->
<h3>
  Cidades
  <div class="pull-right">
    <a href="./#/endereco/cidade/cadastrar" class="btn btn-info">Cadastrar</a>
  </div>
</h3>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-12">
    <div class="row">
      <div class="col-md-12 ">
        <div class="panel panel-blue">
          <div class="panel-heading">
             <h1 class="panel-title">
               Listagem de Cidades
               <!-- <div class="pull-right">
                 <a href="#" title="Gerar relatório">               
                   <em class="icon-printer"></em>             
                 </a>
               </div> -->
             </h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <input class="form-control" ng-model="busca" type="search" placeholder="Buscar" ng-change="buscar()">
              </div>
            </div>
            <div class="table-responsive"  ng-show="cidades">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Cidade</th>
                    <th>Sigla</th>
                    <th>Cidade Pertenc.</th>
                    <th>Estado</th>
                    <th>País</th>
                    <th width="150px"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="cidade in cidades">
                    <td>{{cidade.nome}}</td>
                    <td>{{cidade.sigla}}</td>
                    <td>{{cidade.cidade.nome}}</td>
                    <td>{{cidade.unidadeFederativa.nome}}</td>
                    <td>{{cidade.unidadeFederativa.pais.nome}}</td>
                    <td >
                      <div class="pull-right">
                        <a href="./#/endereco/cidade/visualizar/{{cidade.id}}" class="btn btn-sm btn-info">
                          <i class="fa fa-eye"></i>
                        </a>
                        <a href="./#/endereco/cidade/editar/{{cidade.id}}" class="btn btn-sm btn-warning">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a  ng-disabled="formCidade.$invalid" ng-click="removerCidade(cidade)" class="btn btn-sm btn-danger">
                          <i class="fa fa-times"></i>
                        </a>
                      </div>                      
                    </td>
                  </tr>
                </tbody>                
              </table>
            </div><!--/responsive-table-->
          </div>
          <div class="panel-footer"  ng-show="cidades">
            <div class="row">
              <div class="col-md-12">
                <fe-paginator page="page" load="load(pagina)">
                </fe-paginator>
              </div>
            </div>
          </div>
        </div>        
      </div>    
    </div><!--/row-->    
  </div>
</div><!--/row--> 
<!--Fim do conteúdo da Grid-->
