<!-- Modal -->
<div class="modal fade" id="{{idModal}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">{{titulo}}</h4>
      </div>
      <div class="modal-body">
        <div ng-transclude>
        </div>        
      </div>
    </div>
  </div>
</div>